<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tk.mygod.youtubepricker" >
    <application android:allowBackup="true" android:label="YouTube PRiCker" >
        <activity android:name=".MainActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="youtube.com" android:pathPrefix="/watch" android:scheme="http"/>
                <data android:host="www.youtube.com" android:pathPrefix="/watch" android:scheme="http"/>
                <data android:host="m.youtube.com" android:pathPrefix="/watch" android:scheme="http"/>
                <data android:host="youtube.com" android:pathPrefix="/watch" android:scheme="https"/>
                <data android:host="www.youtube.com" android:pathPrefix="/watch" android:scheme="https"/>
                <data android:host="m.youtube.com" android:pathPrefix="/watch" android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
